name: CI
on:
  push:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 12.x
      - run: npm ci
      - run: npm run test
      - run: npm run mutate
      - run: npm run coverage
      - uses: coverallsapp/github-action@v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
